*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.splash {
    min-height: 300px;
    display: flex;
    background-image: url("https://images.unsplash.com/photo-1513553404607-988bf2703777?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80");
    color: #35313c;
}
.splash-inner {
        margin: auto;
        max-width: 70%;
}
h1 {
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2 {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 350px;
}

.section {
    margin: 0;
}
.text p {
    font-size: 18px;
    padding: 10px 0;
}
.info {
    background: #7a7485;
    margin: auto 0;
    min-height: 150px;
}
h6 {
    font-size: 14px;
    padding: 0;
    margin: 0;
} 
.info p {
    font-size: 14px;
    padding: 0;
}
